 body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
      "header header header"
      "sidebar content content"
      "sidebar content content"
      "footer footer footer";
  grid-gap: 5px;
}

header {
  text-align: center;
  grid-area: header;
  background-color: rgb(172, 141, 141);
  color: white;
}

nav {
  grid-area: sidebar;
  background-color: rgb(79, 79, 92);
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

main {
  text-align: center;
  grid-area: content;
  background-color: rgb(102, 91, 91);
  color: white;
}

footer {
  grid-area: footer;
  background-color: rgb(54, 52, 52);
  color: white;
  text-align: center;
}

img {
  border-radius: 60px;
  
}

section a {
  text-align: center;
  color: white;
  text-decoration: none;
  list-style-type: none;
}  